<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/7653d8bf-3f62-4dac-bd08-7b08abb56c5d/resourceGroups/AppServiceRG/providers/Microsoft.Web/sites/MyFirstApph</ResourceId>
    <ResourceGroup>AppServiceRG</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://myfirstapph-cvbrc6hdh3gkdzby.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://myfirstapph-cvbrc6hdh3gkdzby.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>REDACTED</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>